<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login page</h1>
<!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->
<form action="perform_login" th:action="@{/perform_login}" method="POST" th:object="LoginModel">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username"  th:field="*{username}" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" th:field="*{password}" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
<a href="/register.html">Register</a>
</body>
</html>