<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="perform_register" th:action="@{/perform_register}" method="POST" th:object="registerUser">
        <input type="text" name="firstName" th:field="*{firstName}" placeholder="First Name"/>
        <input type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name"/>
        <input type="text" name="address" th:field="*{address}" placeholder="Address"/>
        <input type="text" name="username" th:field="*{username}" placeholder="Username"/>
        <input type="text" name="password" th:field="*{password}" placeholder="Password"/>
        <button type ="submit">Register</button>
    </form>
</body>
</html>